doctype html
html(lang="es")
  include ./head.pug
  body 
    include ./header.pug
    main
      section#container_favorites
        -for(let i=0;i<grants.length; i++)
          article.card.favorites_card(id=`favorite-${grants[i].id}`)
            p.card_id Id: #{grants[i].id}
            h2.card_title Title: #{grants[i].title}
            a(href='favorites[i].link' target='_blank') Visitar
            p.card_descrip desciption: #{grants[i].title}
            p.card_date fecha: #{grants[i].date}
            p.card_dep departamento: #{grants[i].dep} 
            p.card_org organismo: #{grants[i].org} 
            button.btn.deleteFavorite(id=grants[i].id) Quitar de favoritos
    script(src="script.js")            