doctype html
html(lang="es")
  include ./head.pug
  body 
    include ./header.pug
    main
      section#section_search
        label(for='search')
        input#search(type='text', placeholder='search' name='search')
        button.searchBtn.btn Buscar
      section#searchResults
        -var authorised = false; //conditional para mostrar o esconder botón de favoritos
        -for(let i=0;i<scrapinData.length; i++)
          if authorised
            article.card
              h2.card_title Title: #{scrapinData[i].title}
              a(href=scrapinData[i].link, target="_blank") Visitar
              p.card_id id: #{scrapinData[i].id}
              p.card_descrip desciption: #{scrapinData[i].title}
              p.card_date fecha: #{scrapinData[i].date}
              p.card_dep departamento: #{scrapinData[i].departament} 
              p.card_org organismo: #{scrapinData[i].org} 
              button.btn.addFavorites Agregar a favoritos
          else 
            article.card
                h2.card_title Title: #{scrapinData[i].title}
                a(href='scrapinData[i].link', target="_blank") Visitar
                p.card_id id: #{scrapinData[i].id}
                p.card_descrip desciption: #{scrapinData[i].title}
                p.card_date fecha: #{scrapinData[i].date}
                p.card_dep departamento: #{scrapinData[i].departament} 
                p.card_org organismo: #{scrapinData[i].org} 
    script(src="script.js") 