doctype html
html(lang="es")
  include ./head.pug
  body 
    include ./header.pug
    main#main_profile.flexColCenter
      h2 Perfil
      if current_user
        -var user=current_user[0];
        article.card#profileData_section.flexCol
          h2 Nombre: #{user.name} #{user.surname}
          p Correo electr칩nico: #{user.email}
          p Rol: #{user.role} 
      if token
        -var user=token;  
        article.card#profileData_section.flexCol
          h2 Nombre: #{user.surname} #{user.name}
          p Correo electr칩nico: #{user.email}
          p Rol: #{user.rol} 
      button#profileForm_toggleBtn.outlineColor_btn.btn Editar datos
        section#profileForm_section.flexCol
          form#profileForm(method="POST" action=`/api/users/${user.email}`)
            label(for="name") Nuevo nombre
            input#name(type="text", name="newName" value=user.name)
            label(for="name") Nuevo nombre
            input#name(type="text", name="newSurname" value=user.surname) 
            label(for="email") Correo electr칩nico
            input#email(type="email", name="newEmail" value=user.email)
            label(for="password") Nueva Contrase침a
            input#password(type="password", name="newPassword")
            label(for="avatar") Nueva Foto de perfil
            input#avatar(type="file", name="avatar" accept="image/png, image/jpeg")
            button#submit_btn.fill_btn.btn(type="submit") Guardar cambios
      cript(src="script.js")